h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20;
}

.slider {
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
}

.card {
    height: 100px;
    width: 70px;
    background-color: red;
    text-align: center;
}

@keyframes card_hover {

    from {
        background-color: red;
    }

    to {
        background-color: black;
    }

}

.card:hover {
    animation-name: card_hover;
    animation-duration: 1s;
}