#main_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.slider {
    display: flex;
    text-align: center;
    align-items: center;
}

.card {
    height: 140px;
    width: 200px;
    background-color: red;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.75);
    text-align: center;
    filter: blur(1px);
}

@keyframes card_hover {
    to {
        filter: blur(0px);
    }
}

.card:hover {
    animation-name: card_hover;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}